@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-*: initial;
  --color-background: oklch(1 0 0deg);
  --color-foreground: oklch(0.2 0 286deg);
  --color-primary: oklch(0.7772 0.1521 87.78);
  --color-primary-foreground: oklch(0.2211 0.0075 91.67);
  --color-secondary: oklch(0.9703 0 0);
  --color-secondary-foreground: oklch(0.1995 0.0055 285.9);
  --color-muted: oklch(0.9703 0 0);
  --color-muted-foreground: oklch(0.5388 0.0177 285.79);
  --color-accent: oklch(0.9703 0 0);

  /* --animate-text-shimmer: text-shimmer 5s linear infinite;

  @keyframes text-shimmer {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  } */
}

.dark {
  --color-background: oklch(0.2 0 286deg);
  --color-foreground: oklch(.99 0 0deg);
  --color-primary: oklch(0.7772 0.1521 87.78);
  --color-primary-foreground: oklch(0.2211 0.0075 91.67);
  --color-secondary: oklch(0.2313 0.007 285.84);
  --color-secondary-foreground: oklch(0.9848 0 0);
  --color-muted: oklch(0.4431 0.0141 285.81);
  --color-muted-foreground: oklch(0.7127 0.0128 286.07);
  --color-accent: oklch(0.2934 0.0083 285.88);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  /* Add a transition for a smoother theme change */
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
